.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

__pycache__/
*.pyc

.env

ai/image/chest_xray_results/

uploads/
*.log
*.tmp

*.pth
*.pt
*.npy
*.faiss

.vscode/
.idea/
.DS_Store

.pytest_cache/
.mypy_cache/
.ruff_cache/

.ipynb_checkpoints/
